body {
  background-color: #fff !important;
}

@font-face {
  font-family: pangram-regular;
  src: url(../fonts/pangram/Pangram-Regular.otf);
  font-display: swap;
}
@font-face {
  font-family: pangram-light;
  src: url(../fonts/pangram/Pangram-Light.otf);
}
@font-face {
  font-family: pangram-bold;
  src: url(../fonts/pangram/Pangram-Bold.otf);
  font-display: swap;
}
@font-face {
  font-family: pangram-mediun;
  src: url(../fonts/pangram/Pangram-Medium.otf);
  font-display: swap;
}
@font-face {
  font-family: pangram-ebold;
  src: url(../fonts/pangram/Pangram-ExtraBold.otf);
  font-display: swap;
}
@font-face {
  font-family: pangram-black;
  src: url(../fonts/pangram/Pangram-Black.otf);
  font-display: swap;
}
body {
  font-family: pangram-light;
}

.sl-slider-wrapper {
  height: 600px !important;
}

#nav-dots {
  position: absolute !important;
  /* top: -100px; */
  border: none !important;
  width: 100%;
  z-index: 999999;
  /* right: 50%; */
  top: auto !important;
  display: flex;
  height: 50px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#nav-dots span {
  width: 15px;
  height: 15px;
  background-color: #d8d8d8;
  border: 4px solid transparent;
  display: block;
  border-radius: 50%;
  margin-right: 20px;
}
#nav-dots span.nav-dot-current {
  border: 4px solid #000000;
}
#nav-dots span:last-child {
  margin-right: 0;
}

.navbar-wrapper {
  height: 90px;
}
.navbar-wrapper .navbar-inverse {
  height: 100%;
  display: flex;
  align-items: center;
}

.owl-item .btn-esecure {
  border: 1px solid #eee;
}

.banner-search {
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: -50px;
  z-index: 999999999999999;
  position: relative;
  padding: 35px 0;
}
.banner-search .search-module.form-group {
  margin-bottom: 0;
}
.banner-search .search-module.form-group input {
  margin-bottom: 0;
}
.banner-search input {
  height: 44px;
  border: 1px solid #e2e2e2;
  box-shadow: none;
}
.banner-search select {
  height: 44px;
  border: 1px solid #e2e2e2;
  box-shadow: none;
}
.banner-search select option {
  color: #555555;
}
.banner-search .btn.btn-success {
  height: 44px;
  text-transform: uppercase;
  background-color: var(--main-color) !important;
}
.banner-search .btn.btn-success:hover {
  background-color: 0 !important;
  background: none !important;
  background-color: #333 !important;
}

.content-padding {
  padding: 10px;
}

.status.sold {
  background: var(--main-color);
}

.paginator-center {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  padding: 0 15px;
}
.paginator-center ul {
  display: flex;
  align-items: center;
}
.paginator-center ul li {
  width: 44px;
  height: 44px;
  background-color: #fff !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-width: 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  outline: 0;
  z-index: 2;
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
}
.paginator-center ul li:hover {
  -webkit-transition: box-shadow 0.1s ease-out;
  -webkit-transition: -webkit-box-shadow 0.1s ease-out;
  transition: -webkit-box-shadow 0.1s ease-out;
  -o-transition: box-shadow 0.1s ease-out;
  -moz-transition: box-shadow 0.1s ease-out, -moz-box-shadow 0.1s ease-out;
  transition: box-shadow 0.1s ease-out;
  transition: box-shadow 0.1s ease-out, -webkit-box-shadow 0.1s ease-out, -moz-box-shadow 0.1s ease-out;
  -webkit-box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.2s;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s, -moz-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s, -moz-box-shadow 0.2s;
}
.paginator-center ul .next {
  margin-left: auto;
}

#owl-example-2 {
  height: 500px;
}
#owl-example-2 .slick-slide img {
  width: 100% !important;
}
#owl-example-2 .owl-item {
  width: 100% !important;
}
#owl-example-2 .owl-item .item {
  width: 100% !important;
}
#owl-example-2 .owl-item img {
  width: 100% !important;
  height: 100%;
}
#owl-example-2 .properties {
  margin-bottom: 0;
  padding: 0;
}
#owl-example-2 .properties-listing div.properties .status {
  font-family: "pangram-regular";
  background-color: var(--main-color) !important;
}
#owl-example-2 .owl-wrapper {
  width: 100%;
  display: flex !important;
}
#owl-example-2 .owl-item {
  width: 100% !important;
  border-radius: 6px;
}
#owl-example-2 .owl-item .image-holder img {
  width: 100% !important;
  height: 100%;
}
#owl-example-2 .owl-item .properties {
  border-radius: 6px;
  width: 100%;
  transition: all 0.4s;
  border: 1px solid #eee;
}
#owl-example-2 .owl-item .properties:hover {
  box-shadow: 0 11px 30px 0 rgba(51, 51, 51, 0.15) !important;
}

#owl-example {
  display: flex !important;
  margin: 0 10px;
  flex-wrap: wrap;
  justify-items: center;
  height: auto;
}
#owl-example .properties {
  margin-bottom: 0;
  padding: 0;
}
#owl-example .properties-listing div.properties .status {
  font-family: "pangram-regular";
  background-color: var(--main-color) !important;
}
#owl-example .owl-item {
  width: 33% !important;
  flex: 33% !important;
  height: auto !important;
  padding-left: 10px !important;
  border-radius: 6px;
  padding-right: 10px !important;
  margin-bottom: 20px;
  border-radius: 6px;
}
#owl-example .owl-item .image-holder img {
  width: 100% !important;
}
#owl-example .owl-item .properties {
  border-radius: 6px;
  width: 100%;
  transition: all 0.4s;
  border: 1px solid #eee;
}
#owl-example .owl-item .properties:hover {
  box-shadow: 0 11px 30px 0 rgba(51, 51, 51, 0.15) !important;
}

.m-t-10 {
  margin-top: 10px;
}

.d-flex {
  display: flex;
}

.text-left {
  text-align: left;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-l-auto {
  margin-left: auto;
}

.m-r-auto {
  margin-right: auto;
}

.owl-item .btn-esecure {
  background-color: var(--main-color);
  height: 38px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-family: pangram-light;
  letter-spacing: 1px;
}
.owl-item .btn-esecure:hover {
  background-color: none;
  border: 1px solid var(--main-color);
  color: #fff;
}

.align-items-center {
  align-items: center;
}

.text-left.price {
  color: #252525 !important;
  transition: all 0.2s;
}
.text-left.price:hover {
  color: var(--main-color) !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent !important;
  color: #545454;
  font-family: pangram-bold;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 10px 25px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #545454;
  font-family: pangram-bold;
  letter-spacing: 1px;
  font-size: 13px;
}

.nav.navbar-nav.navbar-right li.active {
  border-bottom: 2px solid var(--main-color);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav.navbar-nav.navbar-right li.active:hover {
  background-color: var(--main-color);
}
.nav.navbar-nav.navbar-right li.active:hover a {
  color: #fff !important;
}

.h2-style {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h2-style span {
  background: #fff;
  padding: 49px;
  z-index: 99;
  font-family: pangram-bold;
}
.h2-style:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.1px;
  background-color: #333;
}

.justify-content-center {
  justify-content: center;
}

.tituloDestacada {
  height: 100%;
}
.tituloDestacada h2 {
  font-family: pangram-bold;
  font-size: 50px;
  margin: 0;
  line-height: 62px;
}
.tituloDestacada .ui-button.ui-widget {
  margin-top: 50px;
}
.tituloDestacada .ui-button-text {
  padding: 1em 2em;
  font-family: pangram-regular;
}

.main-color {
  color: var(--main-color);
}

.id-vivi {
  font-size: 14px;
}

.footer {
  background: none;
  color: #ababab !important;
  background-color: #252525 !important;
  padding-top: 5.125rem !important;
  padding-bottom: 3.125rem !important;
}
.footer h4 {
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 23px;
  padding-bottom: 23px;
}
.footer ul li {
  padding-bottom: 15px;
}
.footer ul li a {
  color: #ababab !important;
  font-size: 15px !important;
  font-family: pangram-regular;
}

.title-main {
  font-size: 19px !important;
  font-family: pangram-regular;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-t-15 {
  margin-top: 15px;
}

.sub-title {
  font-size: 15px !important;
  font-family: pangram-light;
  font-weight: 100;
}

.image-holder {
  height: 250px;
}
.image-holder .owl-wrapper-outer {
  width: 100% !important;
  height: 100% !important;
}

.img-container {
  position: relative;
}

.owl-theme .owl-controls {
  margin-top: -31px !important;
}

.slick-d {
  position: absolute;
  padding: 8px;
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 99;
}
.slick-d.slick-prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
}
.slick-d.slick-next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 8px;
}

.slick-dots {
  position: absolute;
  display: flex;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 47px;
  overflow: hidden;
}
.slick-dots li {
  font-size: 0;
}
.slick-dots li button {
  width: 11px;
  height: 11px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  padding: 0;
}
.slick-dots li button:focus {
  outline: 0;
  border: 0;
  background-color: none;
}
.slick-dots li.slick-active button {
  background-color: #777777;
}

.skeleton-wrapper {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 10px 15px;
}

.skeleton-wrapper-inner {
  height: 150px;
  padding: 15px;
  position: relative;
}

.skeleton-wrapper-body div {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderSkeleton;
  -webkit-animation-timing-function: linear;
  background: #f6f7f8;
  background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(0.2, #edeef1), color-stop(0.4, #f6f7f8), to(#f6f7f8));
  background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  height: 104px;
  position: relative;
}

.skeleton-wrapper-body {
  -webkit-animation-name: skeletonAnimate;
  background-image: -webkit-gradient(linear, center top, center bottom, from(deg), color-stop(0, red), color-stop(0.15, orange), color-stop(0.3, yellow), color-stop(0.45, green), color-stop(0.6, blue), color-stop(0.75, indigo), color-stop(0.8, violet), to(red));
  background-image: -webkit-linear-gradient(135deg, red 0%, orange 15%, yellow 30%, green 45%, blue 60%, indigo 75%, violet 80%, red 100%);
  background-repeat: repeat;
  background-size: 50% auto;
}

.skeleton-wrapper-body div {
  position: absolute;
  right: 15px;
  left: 15px;
  top: 15px;
}

div.skeleton-avatar {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  right: auto;
}

div.skeleton-author {
  top: 20px;
  height: 20px;
  left: 95px;
  width: 150px;
}

div.skeleton-label {
  left: 95px;
  top: 50px;
  height: 10px;
  width: 100px;
}

div.skeleton-content-1,
div.skeleton-content-2,
div.skeleton-content-3 {
  left: 15px;
  right: 15px;
  height: 10px;
}

div.skeleton-content-1 {
  top: 90px;
}

div.skeleton-content-2 {
  top: 110px;
}

div.skeleton-content-3 {
  top: 130px;
}

@-webkit-keyframes placeholderSkeleton {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@-webkit-keyframes skeletonAnimate {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
@media (min-width: 768px) {
  .hidden-min-log {
    display: none;
  }
}
.tituloDestacada .ui-button.ui-widget {
  z-index: 999;
}

@media (max-width: 768px) {
  .skeleton-wrapper {
    margin: 0;
    margin-bottom: 20px;
  }

  body {
    overflow-x: hidden;
  }

  .banner-search select {
    width: 100% !important;
  }

  .banner-search input {
    width: 100% !important;
  }

  .full-max-btn {
    width: 100% !important;
    margin-top: 20px;
  }

  .full-max-input-select {
    width: 100% !important;
    margin-top: 20px;
  }

  .image-holder {
    height: auto;
  }

  #owl-example .owl-item {
    height: 204px;
    width: 100% !important;
  }
  #owl-example .owl-item .img-container {
    height: 230px;
  }

  .navbar-inverse .container {
    width: 100%;
  }

  .d-flex-max {
    display: flex;
  }

  .tituloDestacada {
    margin: 0 !important;
  }
  .tituloDestacada h2 {
    line-height: 38px;
    padding-top: 18px;
    font-size: 25px !important;
  }

  .tituloDestacada .ui-button.ui-widget {
    margin-top: 25px;
    z-index: 999;
  }

  .flex-column-max {
    flex-direction: column;
  }

  .navbar-collapse.in {
    height: 500px;
    z-index: 99999999;
    position: absolute;
    background: #fff;
    width: 100%;
    top: 89px;
    box-shadow: 6px 4px 11px 1px rgba(0, 0, 0, 0.2);
  }

  .hidden-max {
    display: none;
  }

  #Pie {
    display: flex;
    flex-direction: column;
  }

  #nav-dots span {
    width: 15px;
    height: 8px;
  }

  .sl-slider-wrapper {
    height: 320px !important;
  }

  .sl-content-wrapper {
    height: 100%;
  }
}
@media (max-width: 920px) {
  #owl-example {
    margin: 0 !important;
  }
  #owl-example .owl-item {
    width: 50% !important;
  }

  .container-filter {
    max-width: 100% !important;
  }
}
@media (max-width: 1200px) {
  .search-module.form-group input, .search-module.form-group select {
    width: 100% !important;
  }

  #precio_hasta {
    margin-bottom: 20px;
  }
}
@media (max-width: 1100px) {
  .bg-img {
    max-width: 100% !important;
    width: 100% !important;
    left: 0 !important;
    padding: 0;
    padding-top: 0px;
    padding-top: 200px;
  }
}
@media (max-width: 768px) {
  .bg-img {
    max-width: 100%;
    width: 100%;
    left: 0;
    padding: 0;
    padding-top: 0px;
    padding-top: 200px;
  }

  #nav-dots span {
    width: 8px;
    height: 8px;
  }

  #owl-example {
    grid-template-columns: repeat(1, 1fr);
  }
  #owl-example .slick-slider .slick-track {
    display: flex;
  }
  #owl-example .slick-list {
    width: 100% !important;
  }
  #owl-example .slick-slide {
    width: 100% !important;
  }

  #owl-example .owl-item .image-holder img {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 550px) {
  #owl-example .owl-item {
    width: 100% !important;
  }
}
@media (max-width: 488px) {
  #owl-example .owl-item {
    width: 100% !important;
  }
}
.slick-img .img-properties {
  position: relative;
  height: 250px;
  background-position: center center;
  background-size: cover, 100%;
  background-repeat: no-repeat;
}

.logo-navbar {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  top: 36px;
  position: relative;
  z-index: 99;
  position: absolute;
  border: 1px solid #E0E0E0;
}
.logo-navbar img {
  height: 55px;
  object-fit: contain;
  max-width: 100%;
}

/*# sourceMappingURL=index.css.map */
