/*
	Definimos Menu Superior
*/


.navbar-inverse{background: url(../images/bgmain.png) #eee;color:#0F0303}
.navbar-inverse .navbar-nav > li > a{font-size: 11px;padding-top: 10px;padding-bottom: 10px;font-family: din;text-transform: uppercase;color:#0F0303}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color: #b5abad;}

.logoPosition{
	position:absolute;
	top:5px;
	left:100px;
	z-index:9999;
	height:60px
};