$madcolor: #2ecc71;
body{
    background-color: #fff !important;
}
@font-face {
    font-family: pangram-regular;
    src: url(../fonts/pangram/Pangram-Regular.otf);
    font-display: swap;
}

@font-face {
    font-family: pangram-light;
    src: url(../fonts/pangram/Pangram-Light.otf);
}
@font-face {
    font-family: pangram-bold;
    src: url(../fonts/pangram/Pangram-Bold.otf);
    font-display: swap;
}
@font-face {
    font-family: pangram-mediun;
    src: url(../fonts/pangram/Pangram-Medium.otf);
    font-display: swap;
}
@font-face {
    font-family: pangram-ebold;
    src: url(../fonts/pangram/Pangram-ExtraBold.otf);
    font-display: swap;
}
@font-face {
    font-family: pangram-black;
    src: url(../fonts/pangram/Pangram-Black.otf);
    font-display: swap;
}
body{
    font-family: pangram-light;
}
.banner-search{
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.01),0 4px 6px -2px rgba(0,0,0,0.01);
    border-radius: 6px;
    margin-top: -50px;
    z-index: 999999999999999;
    position: relative;
    padding: 35px 0;
    .search-module.form-group{
        margin-bottom: 0;
        input{
            margin-bottom: 0;
        }
    }
    input{
        height: 44px;
        border: 1px solid #e2e2e2;
        box-shadow: none;
    }
    select{
        height: 44px;
        border: 1px solid #e2e2e2;
        box-shadow: none;
        option{
            color: #555555;
        }
    }
    .btn.btn-success{
        height: 44px;
        text-transform: uppercase;
        &:hover{
            background-color: 0  !important;
            background: none !important;
            background-color: #333 !important;
        }
    }
}
#owl-example{
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    margin-top: 40px;
    justify-items: center;
    .properties{
        margin-bottom: 0;
    }
    .properties-listing div.properties .status{
        font-family: 'pangram-regular';
        background-color: $madcolor !important;
    }
    .owl-item{
        width: 100% !important;
        height: 100% !important;
        border-radius: 6px;
        .image-holder{
            img{
                width: 100% !important;
            }
        }
        .properties{
            border-radius: 6px;
            width: 100%;
            transition: all .4s;
            border: 1px solid #eee;
            &:hover{
                box-shadow: 0 11px 30px 0 rgba(51,51,51,.15)!important;
            }
        }
        
    }
}

.m-t-10{
 margin-top: 10px;
}
.d-flex{
   display: flex;
}
.text-left{
    text-align: left;
}
.m-r-15{
    margin-right: 15px;
}
.m-r-10{
    margin-right: 10px;
}
.m-l-auto{
    margin-left: auto;
}

.m-r-auto{
    margin-right: auto;
}

.owl-item{
    .btn-esecure{
            background-color: $madcolor;
            height: 38px;
            text-align: center;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            font-family: pangram-light;
            letter-spacing: 1px;
            &:hover{
                background-color: none;
                border: 1px solid $madcolor;
                color: #fff;
            }
    }
}

.align-items-center
{
    align-items: center;
}
.text-left.price{
    color: #252525!important;
    transition: all .2s;
    &:hover{
        color: $madcolor !important
    }
}